@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat';
}
body {
    overflow-y: hidden;
    background-color: white;
}

#chartdiv {
    width: 100%;
    height: 100vh;
}

.formItem {
    padding: 1em;
}

.imageLogo {
    width: 100%;
}

.textDescription {
    padding: 2em;
}

input::-webkit-slider-thumb {
    background-color: #e53935 !important;
}

input::-moz-range-thumb {
    background-color: #e53935 !important;
}

input::-ms-thumb {
    background-color: #e53935 !important;
}

input+.thumb {
    background-color: #dedede !important;
}

input+.thumb.active .value {
    color: #e53935 !important;
}

.dropdown-content li>span {
    color: black !important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #e53935 !important;
}

#buttonMenu {
    margin: 2em 2em;
    position: absolute;
}

.sidenav-overlay {
    opacity: 0 !important;
}

#chartdiv {
    margin: 0 !important;
    max-width: unset !important;
}

.range-field{
    margin: 0 0 !important;
}

.solutionCard{
    margin: 1em 1em !important;
    max-width: 95%;
    color: #323232;
    text-align: center;
}

.solutionImage{
    width: 3em;
}

.solutionSituation{
    text-align: center;
}

#situationImage{
    width: 70%;
}

#slide-out{
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}::-webkit-scrollbar { width: 0 !important }